.calculator {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-areas: 
  'numberArea numberArea' 
  'tiles tiles';
  grid-gap: 2px;
  background-color: #99caff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

.numberArea {
  grid-area: numberArea;
  display: inherit;
}

.numberArea textarea {
  width: 98%;
  font-size: 20px;
  text-align: right;
  color: black;
  background-color: #eff7ff;
  border-radius: 4px;
  margin-left: 1px;
}

.tiles {
  grid-area: tiles;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.tiles button {
  height: 30px;
  width: 30px;
}
.tiles div {
  height: 30px;
  width: 30px;
}

.checked {
  background-color: #6fb5ff;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: rgb(12, 57, 206);
  border: solid 0px #007bff;
  border-radius: 3px;
  margin-left: 2px;
}

.flag {
  height: 28px;
  width: 28px;
  padding: 1px;
  padding-left: 2px;
}

.hidden {
  background-color: #007bff;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: .1s;
  color: white;
  padding: 0px;
  border: 0px;
  font-size: 0px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 2px;
}

.hidden:hover {
  background-color: #007bff98;
}