.calculator {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-areas: 'numberArea numberArea' 'tiles tiles';
  grid-gap: 2px;
  background-color: #99caff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

.numberArea {
  grid-area: numberArea;
  display: inherit;
}

.numberArea textarea {
  width: 98%;
  font-size: 20px;
  text-align: right;
  color: black;
  background-color: rgb(250, 250, 250);
}

.tiles {
  grid-area: tiles;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.tiles button {
  height: 30px;
  width: 30px;
}
.tiles div {
  height: 26px;
  width: 26px;
}

.checked {
  background-color: #99caff;
  text-align: center;
  border: solid 2px #007bff;
}

.flag {
  height: 26px;
  width: 26px;
}

.hidden {
  background-color: #007bff;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: .1s;
  color: white;
  
}

.hidden:hover {
  background-color: #007bff98;
}