.navbar {
    background-color: #5aa8fc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .navbarHeader{
    margin-bottom: 10px;
  
  }
  .navbarEl{
    margin: 3px;
    padding: 5px;
    border: solid blue 2px;
    border-radius: 4px;
  }
  .navbarMeme {
    justify-self: flex-end;
    border: solid blue 2px;
  }